body {
  margin-top: 0;
}

header {
  font-family: 'Abril Fatface', cursive;
  box-sizing: border-box;
  background-image: url(anakin.png);
  background-size: cover;
  height: 400px;
  margin: 0 auto;
  width: 1280px;
  padding-top: 260px;
  padding-left: 260px;
  color: #222;
  margin-bottom: 40px;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 32px;
}

.anakin {
  font-size: 52px;
  font-weight: normal;
}

main {
  width: 685px;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  color:#222;
    margin-top: 40px;
}

section {
  font-size: 18px;
  line-height: 1.7em;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  position: relative;
  background-color: #444444;
  color: white;
  font-size: 3em;
  padding: 50px;
  width: 700px;
  left: -100px;
}

blockquote:before {
  display: block;
  content: "\201C";
  position: absolute;
  left: 0;
  top: -40px;
  font-size: 150px;
}

.line {
  border-bottom: 2px solid black;
}
