table{
  margin: 0 auto;
  width: 70%;
  border: 1px solid black;
  border-radius: 20px;
}

textarea {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 18px;
}

button{
  background: transparent no-repeat;
  border:none;
  outline: none;
  cursor: pointer;
}

label{
  margin-top: 100px;
  display: block;
  width: 200px;
  height: 25px;
  margin: 10px;
}

input{
  margin-top: 100px;
  display: block;
  width: 200px;
  height: 20px;
  margin: 10px
}

tr:nth-child(even) {
  background: #eee;
}

.age,.nickname,.employee,.delete {
  text-align: center;
}

.name {
  padding-left: 10px;
  line-height:5px;
}

.job{
  margin-top: 0px;
  font-size: 0.9em;
}

.delete{
  width: 5%;
}

.error{
  color: red;
}

.completeButton{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
  margin-left: 45%;
}

.dataDump{
  text-align: center;
  margin-top: 20px;
}

.checked{
  background-image: url(assets/checked.gif);
}

.unchecked{
  background-image: url(assets/unchecked.gif);
}

.popupButtonCointaner{
  text-align: center;
}

.Add,.SVG{
  background-color: #4169E1;
  color: white;
  width:100px;
  height: 50px;
  border-radius: 20px;
  font-size: 24px;
  margin: 10px;
}

.deleteButton{
  height: 42px;
  background-image: url(assets/delete.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.okButton,.cancelButton{
  background-color: #4169E1;
  color: white;
  width:100px;
  height: 30px;
  border-radius: 20px;
  font-size: 18px;
  margin: 10px;
}

.display{
  display: none;
}

.addforms{
  margin-top: 40px;
  margin-left: 15%;
  display: flex;
  font-size: 18px;
}

.add-screen{
  margin: 0px;
  margin-top: 100px;
  z-index: 100;
  position: fixed;
  text-align: center;
  margin-left: 25%;
  width: 50%;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.display-gray{
  background-color: rgba(220, 220, 220, 0.9);
}
