a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

ol {
    margin:2px;
    padding: 0;
    margin-left: 20px;
    color:#0645ad;
    font-size: 14px;
    counter-reset: item;
    list-style-type: none;
}
.li_content::before {
  counter-increment: item;
  content: counters(item,".")" ";
}

ul {
  list-style-type: none;
  list-style-image: none;
}

.edit{
  font-size: small;
  font-weight: normal;
  line-height: 1em;
  margin-left: 8px;

}
blockquote{
  font-size: 14px;
}

input{
    font-size: 13px;
    -webkit-appearance: none;
    height: 25px;
    width:300px;
    margin-bottom:10px;
}

h2{
  font-family: "Linux Libertine",Georgia,Times,serif;
  line-height: 1.3;
  font-size: 20px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 0.25em;
  padding: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

p {
  font-size: 0.875em;
}

body {
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
  display: flex;
}

.full_cointaner {
  width: 100%;
}

aside {
  height: auto;
  flex: 180px;
  font-size: 12px;
  line-height: 1.6;
}

.image_wikipedia {
  width: 135px;
  height: 155px;
  display: block;
  margin-left: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

.side_container {
  margin-left: -20px;
  padding: 0.25em ;
  margin-right: 20px;
}

.sidelist_heading{
  margin-left: 40px;
  font-size: 12px;
  color: #4d4d4d;
  font-weight: normal;
  border-top:1px solid #aaa;
  padding-top: 6px;
  margin-bottom: -6px;
}

.sidelist {
  margin-left: 12px;
}

.side_edit{
  margin-left: 100px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
}

header {
  height: 80px;
  background:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 55%,#f6f6f6 100%);
}

.top_header {
  display: block;
  position: relative;
  height: 62px;
}

.log_position {
  display: block;
  position: absolute;
  top: 0.33em;
  right: 0.75em;
}

.login_nav{
  display: inline;
  margin-top: 0.5em;
  margin-left: 0.75em;
  line-height: 1.125em;
  float: left;
}

.login {
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-left: 0.75em;
  line-height: 1.125em;
}

.logged_status {
  font-size: 0.75em;
  display:inline;
  float: left;
  color: #4d4d4d;

}
.logged_status {
  font-size: 0.75em;
  display:inline;
  float: left;
  color: #4d4d4d;
}

.logged_status::before {
  margin-left: 3px;
  background-image: url(login.svg);
  background-repeat: no-repeat;
  background-position: center;
  content:"____";
  color: white;
}

.header_cointaner {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.headerbox {
  line-height: 1.125em;
  height: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1.25em;
  padding-bottom: 0.3em;
  color: #0645ad;
  font-size: 0.8em;
  border-right: 1px solid #a7d7f9;
  background:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 55%,#f6f6f6 100%);
  display: inline;
  margin: 0px;
}

.opened {
  border-left: 1px solid #a7d7f9;
  border-right: 1px solid #a7d7f9;
  background:white;
  line-height: 1.125em;
  height: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1.25em;
  padding-bottom: 0.4em;
  color:black;
  font-size: 0.8em;
  margin:0px;
  display: inline;
  z-index: 100;
}

.opened_read{
  border-left: 1px solid #a7d7f9;
  border-right: 1px solid #a7d7f9;
  background:white;
  line-height: 1.125em;
  height: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  color:black;
  font-size: 0.8em;
  margin:0px;
  display: inline;
  z-index: 100;
}

.right_header_cointaner {
  width: 100%;
  position: relative;
  top:-4px;
}

.left_header_cointaner {
  width: 100%;
  display: block;
  position: relative;
}
.left_header_position{
  display: block;
  position: absolute;
  top: -8px;
  right: 0.75em;
}


.left_header_nav{
  display:inline;

}
.searchbox{
  display: inline;
  position: relative;

}

.left_header_cointaner {
  width: 100%;
  display: inline;

}

main {
  border: 1px solid #a7d7f9;
  background: #FFFFFF;
  margin-top: -1px;
  padding: 1em;
  line-height: 1.6;


}

.sec_heading {
  font-size: 14px;
}

h1 {
  font-family: "Linux Libertine",Georgia,Times,serif;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.3;
  margin-bottom: 0.25em;
  padding: 0;
  margin: 0;
  color: black;
  background: none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.25em;
}

.subheading {
  display: block;
  font-size: 13px;
  margin-bottom: 1em;
}

.alter{
  padding-left: 1.6em;
  margin-bottom: 0.5em;
  font-style: italic;
  font-size: 14px;

}

.infobox {
  width: 270px;
  height: 520px;
  border: 1px solid #aaa;
  border-spacing: 3px;
  background-color: #f9f9f9;
  color: black;
  float: right;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  clear: right;
  font-size: 12px;
  line-height: 1.5em;
}

.infobox_heading{
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  margin: 0;
  margin-top: 5px;
}

.infobox_picture_discreption{
  text-align: center;
  margin:0;
  font-size: 12px;
}

.margaret{
  background:#31A3A3;
  width: 220px;
  height: 280px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.databox{
  margin-left: 5px;
  margin-right: 10px;
}

dl {
  width: 100%;
  overflow: hidden;
  line-height: 1.6;
  font-size: 12px;

}
dt {
  float: left;
  width: 33%;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
dd {
  float: left;
  width: 67%;
  padding: 0;
  margin: 0;
}

.contentbox {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  width: 125px;
  height: 260px;
  font-size: 12px;
  padding: 7px;
}
.content_heading {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  margin: 0;
}

.sec3_imgbox{
  width: 220px;
  height: 210px;
  border: 1px solid #aaa;
  border-spacing: 3px;
  background-color: #f9f9f9;
  color: black;
  float: right;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  clear: right;
  line-height: 1em;
}

.sec3_img{
  background:#31A3A3;
  width: 220px;
  height: 170px;
  margin: 0 auto;
}

.sec3_img_discreption{
  text-align: left;;
  margin:0;
  font-size: 13px;
}

.sec3_apollo_imgbox{
  width: 220px;
  height: 338px;
  border: 1px solid #aaa;
  border-spacing: 3px;
  background-color: #f9f9f9;
  color: black;
  float: right;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  clear: right;
  line-height: 1em;
}

.sec3_apollo_img{
  background:#31A3A3;
  width: 220px;
  height: 280px;
  margin: 0 auto;
}

.sec3_apollo_img_discreption{
  text-align: left;;
  margin:0;
  font-size: 13px;
}

.sec6_imgbox{
  width: 184px;
  height: 280px;
  border: 1px solid #aaa;
  border-spacing: 3px;
  background-color: #f9f9f9;
  color: black;
  float: right;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  clear: right;
  line-height: 1em;
}

.sec6_img{
  background:#31A3A3;
  width: 180px;
  height: 240px;
  margin: 0 auto;
}

.sec6_img_discreption{
  text-align: left;;
  margin:0;
  font-size: 13px;
}

.section_heading{
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin:0px;
  padding:0px;
}

.main_list{
  font-size: 14px;
  list-style-image:url(dot.svg);
}

.sec_main_9{
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  width: 99%;
  line-height: 1.6;
  padding: 7px;
  margin-right: 5px;

}

.Sec_cat{
  display: inline;
  font-size: 14px;
  margin-right: 5px;
}

.Sec_p{
  display: inline;
  font-size: 14px;
  border-left:1px solid #aaa;
  padding-left: 5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
}

footer {
  margin-left:12px;
  margin-bottom: 24px;
}

.footer_top{
  font-size: 12px;
}

.footer_p{
  display: inline;
  font-size: 12px;
  padding-right:12px
}

.footer_contaner{
  line-height:22px;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #333;
  position: relative;
}


.footer_right{
  display: inline;
  position: absolute;
  right: 25px;
  bottom: 0px
}
