h1{
  font-weight: bold;
  color:#2222222;
  font-size:32px;
  text-align: center;
  margin-bottom: auto;
  font-family: 'Merriweather', serif;
}

h2{
  font-weight: normal;
  color:rgba(0,0,0,.44);
  font-size:26px;
  text-align: center;
  margin-bottom: auto;
}

p{
  font-weight: normal;
  color:rgba(0,0,0,0.8);
  font-size:18px;
  text-align: justify;
  margin-bottom: auto;
}

img {
  width: 100%;
  margin: auto;
}

article {
  max-width: 50%;
  margin: auto;
}
